@font-face{
  font-family: "Aller";
  src: url('static/fonts/Aller-400.woff') format(woff),
       url('static/fonts/Aller-400.ttf') format("truetype");
  font-weight: 400;
  font-display: swap;
}

:root{
  --background-accent-color: rgba(52, 103, 81, .25);
  --lighten-background: rgba(255,255,255,.045);
  --page-background-color: #161616;
  --text-accent-color: rgb(52, 103, 81);
  --link-accent-color: #f6ba5a;
  --secondary-accent-color: #C84B31;
  --menu-background-color: rgba(15,15,15,1);
  --inset-box-shadow-01: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

::-webkit-scrollbar{
  width: 12px;
  background-color: var(--menu-background-color);
}

::-webkit-scrollbar-thumb{
  background: black;
  border-radius: 8px 4px 4px 8px;
}

body{
  background: var(--page-background-color);
  margin: 0;
  overflow-x: hidden;
  font-family: 'Aller', sans-serif;
}

html{
  margin: 0;
}

a{
  text-decoration: none;
  color: var(--link-accent-color);
  
  &:visited{
    color:purple;
  }
}

h2{
  text-transform: uppercase;
  text-align: center;
}

/* Page */

.menu-item{
  border-radius: .1em;
  color: var(--text-accent-color);
  text-transform: uppercase;
  padding: .5em;
  margin: 4px;
}

.menu-item a{
  text-align: center;
  color: inherit;
  font-size: 1.2em;
}

.navbar {
  width: auto;
  display: flex;
  align-items: center;
  margin: 0;
  background-clip: content-box;
  background-color: var(--menu-background-color);
  text-justify: center;
  z-index:3;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: column;
}

.navbar ul{
  list-style: none;
  flex-wrap: wrap;
  display: flex;
  padding: 0;
}

.navbar > ul > li > a{
  display: flex;
  flex-direction: row;
  transition: color 300ms;
}

.navbar > ul > li{
  align-items: center;
  justify-content: center;
}

.navbar > ul > li > a > .icon {
  width: 20px;
  display: flex;
  justify-content: center;
  justify-items: center;
}

.navbar > ul > li > a:hover{
  color: var(--link-accent-color);
}

.container{
  width: 100%;
  border-radius: .1rem;
  padding: .5rem;
  scroll-snap-align: start;
}

.container > h2{
  color: white;
}

.banner{
  width: 75%;
  object-fit: cover;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  pointer-events: none;
}

.centered-flex-row{
  display: flex;
  flex-direction: row;
  align-content: center;
  list-style: none;
  justify-content: center;
  column-gap: 20px;
}

.speaker{
  display: grid;
  grid-template-areas: 
      "avatar info info"
      "avatar whois whois";
      justify-items: start;
      align-items: start;
}

.left{
  grid-template-areas: 
      "avatar info info"
      "avatar whois whois";
}

.right{
  grid-template-areas: 
      "info info avatar"
      "whois whois avatar";
}

.speaker .avatar{
  width: 15rem;
  height: 15rem;
  grid-area: avatar;
  object-fit: cover;
  border-radius: 4px;
}

.speaker .info{
  grid-area: info;
  background: var(--background-accent-color);
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem;
}

.rightleft{
  grid-template-areas:
      "avatarleft infoleft inforight avatarright"
      "avatarleft whois whois avatarright";
}

.rightleft .avatarleft{
  grid-area: avatarleft;
}

.rightleft .avatarright{
  grid-area: avatarright;
}

.rightleft .infoleft{
  grid-area: infoleft;
  justiy-self: start;
  width: calc(90% - 6rem);
}

.rightleft .inforight{
  grid-area: inforight;
  justify-self: end;
  width: calc(90% - 6rem);
}

.speaker .info span:nth-child(1){
  font-weight: bolder;
  padding-bottom: 4px;
}

.speaker .info span:nth-child(2){
  padding-top: 4px;
}

.speaker .whois{
  grid-area: whois;
  padding: 2rem;
  text-align: justify;
}

.split-view{
  background-color: var(--background-accent-color);
  /*box-shadow: var(--inset-box-shadow-01);*/
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.split-view > article{
  padding: .5rem;
  color: white; transition: flex-grow 500ms ease; flex: 1; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.split-view article div{
  text-justify: justify;
  text-justify: inter-word;
  max-width: 30rem;
}

.split-view > article:hover div{
}

.nopadding{
  padding: 0;
  margin: 0;
}

.external{
  padding: 0;
  padding-left: 1rem;
}

.noscroll{
  overflow-y: hidden;
}

.footer{
  background: rgba(0,0,0,1);
  width: 100%;
}

.footer > ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
  padding-left: 0;
}

.footer > ul > li > a >  img{
  width: 64px;
}

.footer > ul > li > a >  i{
  color: white;
}

#timetable{
  display: flex;
  flex-direction: column;
  background-color: var(--lighten-background);
  padding-bottom: 2rem;
}

#timetable > h2{
  margin-bottom: .5rem;
}

#timetable > div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#timetable div > h2,
#timetable div > h3{
  color: white;
  font-size: 1.2em;
  margin-top: 2rem;
}

#timetable div > h3{
  margin-top: 0;
}
#timetable div ul{
  margin: 0 auto;
}

#hamburger{
  display: none;
  cursor: pointer;
  color: var(--text-accent-color);
}

#CTF{ 
  background-color: var(--lighten-background);
}

#conference{
  color: white;
  padding: .5rem;
  background-color: var(--lighten-background);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#conference > img{
  width: 70%;
  height: 25rem;
  object-fit: cover;
}

#registration{
  color: white;
  background: var(--background-accent-color);
}

#registration .eb-container{
  width: 73%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

#speakers{
  color: white;
  background: var(--lighten-background);
}

#about-us{
  width: 100%;
  margin-top: .5rem;
  padding: .5rem;
  padding-top: 0rem;
  padding-bottom: 1rem;
  background-color: rgba(0,0,0,1);
  
}

#partners{
  color: white;
  background-color: rgba(52, 103, 81, .65);
}

#partners > div > ul > li > a > img {
  width: 192px; 
}

#partners > div > ul{
  display: flex;
  flex-wrap: wrap;
}

#partners > div > ul > li{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

#platinum-sponsors > ul > li > a > img {
  width: 400px!important;
}

#partners > div > ul > li > a > img[src*=hat]{
  transform: scale(75%);
}

#partners > div > ul > li > a > img[src*=Blu5]{
  transform: scale(75%);
}

#partners > div > ul > li > a > img[src*=aizoon]{
  transform: scale(115%);
}

#about-us > section{
  color: white;
  padding: .5rem;
  width: 50%;
}

#about-us > section > div{
  margin-top: .5rem;
  margin-bottom: .5rem;
}

#about-us > section > div > p{
  margin: 0px;
  width: 100%;
}

#background{
  z-index:-2;
  position: fixed;
  bottom:0;
  right: 0;
  height:100%;
  width:100%;
}

#root{
  margin-top: 4rem;
  font-size: 20px;
  position: absolute;
  width: 100%;
  align-items: center;
  top: 0;
  left: 8rem;
  display:flex;
  flex-direction:column;
}

/* https://blog.avada.io/css/dividers/#responsive-skewed-page-dividers-(using-css-gradients)-chilli-con-code */
.skew-cc{
  width:100%;
  height:100px;
  background: linear-gradient(to right bottom, var(--lighten-background) 49%, rgba(52, 103, 81, .5) 50%)/*,    linear-gradient(-50deg, rgba(52, 103, 81, .5) 16px, #000 0)*/;
  padding-top: 2em;
}

@media screen and (min-width: 950px){
  body{
    display: grid;
    flex-direction: column;
    flex-grow: 4;
  }

  .navbar{
    font-size: 20px;
    justify-items: start;
    height: 100%;
    width: 10vw;
  }
  
  .navbar ul{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
  }

  .navbar > ul > li{
    display: flex;
    width: calc(100% - 1.75rem);
  }

  .navbar > ul > li > a{
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .navbar > ul > li > a span:nth-child(2){
    visibility: hidden;
    opacity: 0;
    transition: opacity 300ms ease-in-out, width 1000ms ease-in-out;
    width: 0px;
    height: 1em;
  }
  
  .navbar .menu-item:hover a .entry-label{
    display: inline-block;
    position: absolute;
    left: calc(10vw - 1rem);
    text-align: start;
    white-space: nowrap;
    visibility: visible;
    opacity: 1;
    width: auto;
    background: var(--menu-background-color);
    padding: 8px;
    transform: translateY(-.5rem);
    border-radius: 0 8px 8px 0;
  }


  .container > p{
    width: 70%;
    margin-right: auto;
    margin-left: auto;
  }
  
  .container > ul{
    width: 70%;
    margin-right: auto;
    margin-left: auto;
  }

  .speaker{
    padding: 0 8rem;
  }

  .right .info, .inforight{
    justify-self: end;
    text-align: end;
  }

  #root{
    width: calc(90vw - 1.25rem);
    left: calc(10vw + .5rem);
  }
}

@media screen and (max-width: 1450px){
  #root{
    font-size: 16px;
  }
}

@media screen and (max-width: 1100px){
  #partners > div > ul > li > a > img {
    width: 70vw; 
  }

  #partners > div > ul{
    flex-direction: column;
    padding: 0;
  }

  #partners > div > ul > li{
    margin: 1rem 0;
    justify-content: center;
  }
  
  #root{
    width: calc(100% - 10%);
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 16px;
  }

  #hamburger{
    display: block;
    position: fixed;
    z-index: 4;
    left: 15px;
    top: 25px;
    font-size: 25px;
  }

  .navbar{
    background-color: transparent;
    justify-content: center;
    align-items: center;
  }

  .navbar ul{
    display: none;
    width:100vw;
    height: 100vh;
    padding: 15px;

  }

  .navbar > i{
    background: #161616;
    padding: 4px 6px;
    border-radius: 8px;
  }

  .visible{
    display: flex;
    background-color: rgb(15,15,15);
    visibility: visible;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }

  .visible > ul{
    display: flex;
    visibility: visible;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  
  .split-view{
    flex-direction: column;
  }

  .skew-cc{
    padding-top:0;
    height: 75px;
  }

  .speaker{
    grid-template-areas:
      "avatar"
      "info"
      "whois";
  }

  .rightleft{
    grid-template-areas:
      "avatarleft avatarright"
      "infoleft inforight"
      "whois whois";
  }

  .speaker .info{
    justify-self: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 8px;
  }


  .speaker .avatar{
    justify-self: center;
    width: 10rem;
    height: 10rem;
  }

  .speaker .info{
    align-items: center;
  }
  
  .speaker .whois{
    padding-top: 0;
  }

  #registration .eb-container{
    width: 83%;
  }

  #conference > img{
    width: 100%; 
    height: 16rem;
  }

  .history{
    display: none !important;
  }
  
  .navbar > ul > li > a > .icon{
    margin-right: 24px;
  }
}


@media screen and (max-width: 400px){
  .rightleft{
    font-size: 12px;
  }

  .rightleft .avatar{
    width: 8rem;
    height: 8rem;
  }

  .rightleft .info{
    width: calc(100% - 6rem);
    height: calc(100% - 2rem);
  }

  .rightleft .whois{
    font-size: 16px;
  }


}

@media screen and (max-width: 350px), screen and (max-height: 325px){
  .menu-item > a{
    font-size: 16px;
  }
}
