.timeline {
  border-left: 4px solid var(--text-accent-color);
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background: rgba(255, 255, 255, 0.03);
  color: #333;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 50px auto;
  letter-spacing: 0.5px;
  position: relative;
  line-height: 1.4em;
  font-size: 1.03em;
  padding: 30px;
  list-style: none;
  text-align: left;
  font-weight: 1;
  width: 70%;
}
.timeline h1,
.timeline h2,
.timeline h3 {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1.5px;
  color: rgb(255, 255, 255);
  font-weight: 100;
  font-size: 1em;
}


.timeline .event {
  border-bottom: 1px dashed var(--text-accent-color);
  padding-bottom: 25px;
  margin-bottom: 50px;
  width: 100%;
  position: relative;
}
.timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}
.timeline .event p{
  color: white;
}
.timeline .event:before{
  position: absolute;
  display: block;
  top: 0;
}
.timeline .event:before {
  left: -200px;
  color: #717171;
  content: attr(data-date);
  text-align: right;
  font-weight: 400;
  font-size: 0.9em;
  min-width: 120px;
}

@media (max-width: 800px) {
  .timeline .event h3{
    margin-bottom: 4px;
  }
  .timeline .event p {
      top: 27px;
      padding: 10px 0px 10px 0px;
      position: relative;
  }
  .timeline .event:before{
    content: "";
  }
  .timeline .event:after {
    /*left: 0px;
    top: 10px;*/
    display: flex;
    left: 0;
    background-color: transparent;
    color: white;
    margin-top: 0;
    padding: 2px 8px 2px 8px;
    padding-left: 0;
    content: attr(data-date);
    text-align: right;
    font-weight: 400;
    font-size: 0.9em;
    min-width: 120px;
  }
}
